.signup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__container {
    text-align: center;
    border: 1px solid #555;
    padding: 2rem;
    width: 40rem;
  }

  &__header {
    font-size: 3rem;
    font-weight: 400;
    color: #605757;
  }

  @media only screen and (max-width: 480px) {
    &__container {
      border: none;
      width: 100%;
      padding: 1rem;
    }
    &__form {
    }
  }

  &__form {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  &__login {
    margin-top: 1rem;
    font-size: 1.4rem;
    a {
      color: #32a84c;
      font-weight: 600;
    }
  }
}
