.signup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

   &__container {
    text-align: center;
    border: 1px solid #555;
    padding: 2rem;
  }

  &__header {
    font-size: 3rem;
    font-weight: 400;
    color: #605757;
  }

  &__form {
    width: 40rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem;
  }
  &__login {
    margin-top: 1rem;
    font-size: 1.4rem;
    a {
      color: #32a84c;
    }
  }
}
